@charset "utf-8";
/*Configuração dos corpos das sections*/
section.corpoModelo{
    display: block;
    padding: 10px;
    height: 530px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 10px;
}
/*Configuração da descrição*/
section.descricaoModelo{
    display: block;
    height: 530px;
    width: 520px;
    border: 5px solid rgb(241, 241, 241);
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0, .5) ;
    float: right;
    border: auto;
    
}
/*Configuração da seção primaria 01*/
section.primarioModelo{
    display: block;
    height: 530px;
    width: 640px;
    border: 5px solid rgb(241, 241, 241);
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0, .5) ;
    float: center;
    border-left: auto;
    border-top: auto;
    margin-bottom: -10px;
}
/*configuração das imagens em destaque*/
img.destaque{
    margin-left: 40px;
    margin-top: 5px;
    float:unset;
}

/*Configuraçõa das Listas "Secundarias" UL*/
ul.secundaria{
    display: solid;
    list-style: none;
    position: relative;
    width: 550px;
    margin-left:20px ;
    margin-top: auto;
    padding: center;
    overflow: hidden;
    list-style: none;
    border: black  ;
    
}
/*Configuração das molduras das lista "Secundarias" IL*/
ul.secundaria li {
    float: left;
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 5px solid rgb(241, 241, 241);
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0, .5) ;
}
/*Configuração para colocar as fotos em miniatura " 01 "*/
ul#secundaria-01 li#foto01{
    background-image: url("../_imagens/coxinha-completa/01_pequena.png") ; 
}
ul#secundaria-01 li#foto02{
    background-image: url("../_imagens/coxinha-completa/02_pequena.png") ; 
}
ul#secundaria-01 li#foto03{
    background-image: url("../_imagens/coxinha-completa/03_pequena.png") ; 
}
ul#secundaria-01 li#foto04{
    background-image: url("../_imagens/coxinha-completa/04_pequena.png") ; 
}
ul#secundaria-01 li#foto05{
    background-image: url("../_imagens/coxinha-completa/05_pequena.png") ; 
}

/*Configuração para colocar as fotos em miniatura " 02 "*/
ul#secundaria-02 li#foto01{
    background-image: url("../_imagens/churrasqueira-completa/01_pequena.png") ; 
}
ul#secundaria-02 li#foto02{
    background-image: url("../_imagens/churrasqueira-completa/02_pequena.png") ; 
}
ul#secundaria-02 li#foto03{
    background-image: url("../_imagens/churrasqueira-completa/03_pequena.png") ; 
}
ul#secundaria-02 li#foto04{
    background-image: url("../_imagens/churrasqueira-completa/04_pequena.png") ; 
}

/*Configuração para colocar as fotos em miniatura " 03 "*/
ul#secundaria-03 li#foto01{
    background-image: url("../_imagens/churrasqueira-completa-02/01_pequena.png") ; 
}
ul#secundaria-03 li#foto02{
    background-image: url("../_imagens/churrasqueira-completa-02/02_pequena.png") ; 
}
ul#secundaria-03 li#foto03{
    background-image: url("../_imagens/churrasqueira-completa-02/03_pequena.png") ; 
}
ul#secundaria-03 li#foto04{
    background-image: url("../_imagens/churrasqueira-completa-02/04_pequena.png") ; 
}
ul#secundaria-03 li#foto05{
    background-image: url("../_imagens/churrasqueira-completa-02/05_pequena.png") ; 
}

/*Configuração para colocar as fotos em miniatura " 04 "*/
ul#secundaria-04 li#foto01{
    background-image: url("../_imagens/conjunto-pia-02/01_pequena.png") ; 
}
ul#secundaria-04 li#foto02{
    background-image: url("../_imagens/conjunto-pia-02/02_pequena.png") ; 
}
ul#secundaria-04 li#foto03{
    background-image: url("../_imagens/conjunto-pia-02/03_pequena.png") ; 
}

/*Configuração para colocar as fotos em miniatura " 05 "*/
ul#secundaria-05 li#foto01{
    background-image: url("../_imagens/conjunto-pia/01_pequena.png") ; 
}
ul#secundaria-05 li#foto02{
    background-image: url("../_imagens/conjunto-pia/02_pequena.png") ; 
}
ul#secundaria-05 li#foto03{
    background-image: url("../_imagens/conjunto-pia/03_pequena.png") ; 
}

/*Configuração para colocar as fotos em miniatura " 06 "*/
ul#secundaria-06 li#foto01{
    background-image: url("../_imagens/conjunto-pia-03/01_pequena.png") ; 
}
ul#secundaria-06 li#foto02{
    background-image: url("../_imagens/conjunto-pia-03/02_pequena.png") ; 
}
ul#secundaria-06 li#foto03{
    background-image: url("../_imagens/conjunto-pia-03/03_pequena.png") ; 
}
ul#secundaria-06 li#foto04{
    background-image: url("../_imagens/conjunto-pia-03/04_pequena.png") ; 
}

/*Configuração para colocar as fotos em miniatura " 07 "*/
ul#secundaria-07 li#foto01{
    background-image: url("../_imagens/travertino/01_pequena.png") ; 
}
ul#secundaria-07 li#foto02{
    background-image: url("../_imagens/travertino/02_pequena.png") ; 
}
ul#secundaria-07 li#foto03{
    background-image: url("../_imagens/travertino/03_pequena.png") ; 
}
ul#secundaria-07 li#foto04{
    background-image: url("../_imagens/travertino/04_pequena.png") ; 
}
ul#secundaria-07 li#foto05{
    background-image: url("../_imagens/travertino/05_pequena.png") ; 
}

/*Configuração para colocar as fotos em miniatura " 08 "*/
ul#secundaria-08 li#foto01{
    background-image: url("../_imagens/travertino/06_pequena.png") ; 
}
ul#secundaria-08 li#foto02{
    background-image: url("../_imagens/travertino/07_pequena.png") ; 
}
ul#secundaria-08 li#foto03{
    background-image: url("../_imagens/travertino/08_pequena.png") ; 
}
ul#secundaria-08 li#foto04{
    background-image: url("../_imagens/travertino/09_pequena.png") ; 
}
ul#secundaria-08 li#foto05{
    background-image: url("../_imagens/travertino/10_pequena.png") ; 
}

/*Configuração para colocar as fotos em miniatura " 09 "*/
ul#secundaria-09 li#foto01{
    background-image: url("../_imagens/branco/01_pequena.png") ; 
}
ul#secundaria-09 li#foto02{
    background-image: url("../_imagens/branco/02_pequena.png") ; 
}
ul#secundaria-09 li#foto03{
    background-image: url("../_imagens/branco/03_pequena.png") ; 
}
ul#secundaria-09 li#foto04{
    background-image: url("../_imagens/branco/04_pequena.png") ; 
}
ul#secundaria-09 li#foto05{
    background-image: url("../_imagens/branco/05_pequena.png") ; 
}

/*Configuração para colocar as fotos em miniatura " 10 "*/
ul#secundaria-10 li#foto01{
    background-image: url("../_imagens/manchado/01_pequena.png") ; 
}
ul#secundaria-10 li#foto02{
    background-image: url("../_imagens/manchado/02_pequena.png") ; 
}
ul#secundaria-10 li#foto03{
    background-image: url("../_imagens/manchado/03_pequena.png") ; 
}
ul#secundaria-10 li#foto04{
    background-image: url("../_imagens/manchado/04_pequena.png") ; 
}
ul#secundaria-10 li#foto05{
    background-image: url("../_imagens/manchado/05_pequena.png") ; 
}

/*Configuração para colocar as fotos em miniatura " 11 "*/
ul#secundaria-11 li#foto01{
    background-image: url("../_imagens/marrom/01_pequena.png") ; 
}
ul#secundaria-11 li#foto02{
    background-image: url("../_imagens/marrom/02_pequena.png") ; 
}
ul#secundaria-11 li#foto03{
    background-image: url("../_imagens/marrom/03_pequena.png") ; 
}
ul#secundaria-11 li#foto04{
    background-image: url("../_imagens/marrom/04_pequena.png") ; 
}
ul#secundaria-11 li#foto05{
    background-image: url("../_imagens/marrom/05_pequena.png") ; 
}

/*Configuração para colocar as fotos em miniatura " 12 "*/
ul#secundaria-12 li#foto01{
    background-image: url("../_imagens/mistos/01_pequena.png") ; 
}
ul#secundaria-12 li#foto02{
    background-image: url("../_imagens/mistos/02_pequena.png") ; 
}
ul#secundaria-12 li#foto03{
    background-image: url("../_imagens/mistos/03_pequena.png") ; 
}
ul#secundaria-12 li#foto04{
    background-image: url("../_imagens/mistos/04_pequena.png") ; 
}

/*Configuração para colocar as fotos em miniatura " 13 "*/
ul#secundaria-13 li#foto01{
    background-image: url("../_imagens/preto/01_pequena.png") ; 
}
ul#secundaria-13 li#foto02{
    background-image: url("../_imagens/preto/02_pequena.png") ; 
}
ul#secundaria-13 li#foto03{
    background-image: url("../_imagens/preto/03_pequena.png") ; 
}
