@charset "utf-8";
/*Configuração da tag div*/
div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

/*Configuração do arquivo de audio*/
audio#musica {
    display: block;
    position: relative;
    left:575px ;
    top:488px ;
    width: 300px;
}

/*Configuração do arquivo de video*/
video#filme {
    display: block;
    position: relative;
    left:82px ;
    top:50px ;
    width: 450px;
    height: 500;
}